version: "3.9"

services:
  nlp_app:
    build: .
    container_name: nlp_app_container
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./data:/app/data
      - ./models:/app/models
      - ./Documents:/app/Documents

